{{> style}}
<div id="headerwrap">
    <div id="header">
        <img src="../images/Logo.png" class="logo" alt="YOUR LOGO" style="height:80px; width:80px;"></img>
        <h1 style="color: #ffffff;display:inline; margin-top:25px; font-size:180%; margin-right:20%">MyTunes</h1>
        <div class="topnav" style="margin-right: 200px;">
            <form action="/search" class="example">
                <select name="searchby" class="dropdown1" id="search-by"
                    style="color:aliceblue; font-size:100%; padding-left: 25px; padding-right: 10px;">
                    <option value="Select" id="opt" style="color:aliceblue; font-size:100%">--Select--</option>
                    <option value="albums" id="opt" style="color:aliceblue; font-size:100%">Album</option>
                    <option value="tracks" id="opt" style="color:aliceblue; font-size:100%">Tracks</option>
                </select>
                <input type="text" placeholder="Search..." type="text" name="artist" id="artist-input"
                    class="search-bar">
                <button type="submit" class="search-bar-button" title="Search"><i class="fa fa-search"></i></button>

            </form>
        </div>
    </div>