{{> style}}
<div id="headerwrap">
    <div id="header">
        <div class="logo-name">
            <img src="../images/logo.png" class="logo" alt="YOUR LOGO" style="height:60px; width:60px;"></img>
            <h1 style="color: #ffffff; font-size:180%;">Musicave
            </h1>
        </div>
        <div class="topnav">
            <form action="/search" class="example">
                <select name="searchby" class="dropdown1" id="search-by"
                    style="color:aliceblue; font-size:100%; padding-left: 25px; padding-right: 10px;">
                    <option value="tracks" id="opt" style="color:aliceblue; font-size:100%">Tracks</option>
                    <option value="albums" id="opt" style="color:aliceblue; font-size:100%">Albums</option>
                </select>
                <input type="text" placeholder="Search..." type="text" name="artist" id="artist-input"
                    class="search-bar">
                <button type="submit" class="search-bar-button" title="Search"><i class="fa fa-search"></i></button>

            </form>
        </div>
    </div>